<div class="mt-4">
    <div>
        <h1 class="text-black">Khóa học đã xóa</h1>
        <a href="/me/stored/courses">Danh sách khóa học</a>
    </div>


    <table class="table mt-4 table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center" style="width:50%">Description</th>
                <th scope="col" colspan="2" class="text-center">Created At</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}" >Khôi phục</a>
                    <button class="btn btn-link delete-btn" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Xóa vĩnh viễn</button>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống
                    <a href="/me/stored/courses" class="btn btn-link">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa nội dung trên không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger confirm-delete">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form --}}
<form method="POST" id="delete-form"></form>
<form method="POST" id="restore-form"></form>


<script>
    const staticBackdrop = document.getElementById('staticBackdrop')
    const deleteForm = document.getElementById('delete-form')
    const restoreForm = document.getElementById('restore-form')
    const deleteBtns = document.querySelectorAll('.delete-btn')
    var restoredBtns = document.querySelectorAll('.btn-restore')
    var courseId;

    //Xử lý lấy Id khóa học
    if (staticBackdrop) {
        staticBackdrop.addEventListener('show.bs.modal', function(event){
            
            const button = event.relatedTarget
            
            courseId = button.getAttribute('data-id')
            console.log(courseId)
        })
    }


    //Xử lý soft delete khóa học
    const confirmBtn = document.querySelector('.confirm-delete')
    console.log(confirmBtn)
    if (confirmBtn) {
        confirmBtn.addEventListener('click', function(event){
            event.preventDefault()
            
            deleteForm.action = `/courses/${courseId}?_method=DELETE`
            deleteForm.submit()
    })}

    //Xử lý restore khóa học
    restoredBtns.forEach(item => {
        item.addEventListener('click', function(event){
            event.preventDefault()
            const courseId = item.getAttribute('data-id')
            console.log(courseId)

            restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`
            restoreForm.submit()
        })
    })

    //Xử lý xóa hoàn toàn khóa học
    deleteBtns.forEach(item => {
        item.addEventListener('click', function(event){
            event.preventDefault()
            deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
            deleteForm.submit()
            console.log(courseId)
        })})
</script>